/* Responsive */
@media all and (max-width:1380px) {
    header section nav.right span a.button2 {
        padding: 15px 30px;
    }
    #spotlight section.wrapper div.left h2 {
        font-size: 53px;
        width: 75%;
    }
    #works section.wrapper section.container div.card div.top a.add {
        top : -140px;
    }
    #works section.wrapper section.container div.card div.top div.curve {
        width: 85%;
    }
	
}
@media all and (max-width:1280px) {
    header section nav.right {
        width: 21%;
    }
    #spotlight section.wrapper div.left {
        padding: 70px 0 0 8%;
    }
    #spotlight section.wrapper div.left h2 {
        font-size: 45px;
    }
    #works section.wrapper section.container div.card div.top a.add {
        top: -134px;
        left: -12px;
    }
    #works section.wrapper section.container div.card div.top div.curve {
        width: 83%;
    }
    #works section.wrapper section.container div.card div.bottom {
        width: 82%;
    }
    #feature section.wrapper section.top div.right {
        padding-top: 80px;
    }
    #feature section.wrapper section.top div.right p {
        width: 80%;
        margin: 20px 0;
    }
    #feature section.wrapper section.top div.right div.bottom {
        padding-top: 0;
    }
    #feature section.wrapper section.top div.right div.bottom span.span1 {
        width: 60%;
    }
    #feature section.wrapper section.top div.right div.bottom small.small1 {
        width: 60%;
    }
    #feature section.wrapper section.bottom div.left {
        width: 45%;
        padding-top: 90px;
        padding-left: 70px;
    }
    #feature section.wrapper section.bottom div.left a {
        padding: 20px 35px;
    }
    #subscribe section.wrapper p {
        margin-bottom: 12px;
    }
    #subscribe section.wrapper form {
        width: 78%;
    }
    footer section.wrapper section.bottom div.contact {
        width: 12%;
    }
    footer {
        padding: 0px 0 50px;
    }
}
@media all and (max-width:1160px) {
    #works section.wrapper section.container div.card div.top a.add {
        top: -128px;
        font-size: 12px;
    }
}
@media all and (max-width:1043px) {
    #works section.wrapper section.container div.card div.top a.add {
        top: -121px;
        font-size: 12px;
    }
    #works section.wrapper section.container div.card div.top div.curve {
        width: 83%;
    }
}
@media all and (max-width:1080px) {
	#spotlight section.wrapper div.left {
        padding: 40px
    }
    #works section.wrapper section.container div.card div.top div.curve {
        width: 83%;
    }
    #works section.wrapper section.container div.card div.top a.add {
        top: -115px;
        font-size: 12px;
    }
}
@media all and (max-width:980px) {
	header section h1 {
        width: 20%;
    }
    header section nav.right {
        width: 21%;
    }
    header section nav.right span a.button2 {
        padding: 10px 20px;
        font-size: 12px;
    }
    #spotlight section.wrapper div.left {
        padding: 30px 45px 0 35px;
    }
    #spotlight section.wrapper div.left p {
        font-size: 15px;
        margin: 4px 0 12px;
    }
    #spotlight section.wrapper div.left h2 {
        font-size: 36px;
        width: 100%;
    }
    #works section.wrapper section.container div.card div.top div.curve {
        display: none;
    }
    #works section.wrapper section.container {
        flex-wrap: wrap;
    }
    #works section.wrapper section.container div.card {
        width: 65%;
        margin: 0 auto;
    }
    #works section.wrapper section.container div.card div.top {
        height: 400px;
    }
    #works section.wrapper section.container div.card div.top a.add {
        font-family: 'Gordita Regular';
        top: -219px;
        font-size: 25px;
    }
    #works section.wrapper section.container div.card div.bottom {
        margin-top: 20px;
    }
    #feature section.wrapper section.top {
        flex-wrap: wrap;
    }
    #feature section.wrapper section.top div.left {
        width: 75%;
        margin: 0 auto;
    }
    #feature section.wrapper section.top div.right {
        padding-top: 0px;
        width: 70%;
        margin: 0 auto;
    }
    #feature section.wrapper section.top {
        margin-bottom: 20px;
    }
    #feature section.wrapper section.bottom {
        flex-wrap: wrap;
    }
    #feature section.wrapper section.bottom div.left {
        width: 70%;
        padding-top: 90px;
        padding-left: 93px;
    }
    #feature section.wrapper section.bottom div.left p {
        margin: 20px 0 30px;
    }
    #feature section.wrapper section.bottom div.right {
        width: 70%;
        margin: 0 auto;
    }
    footer section.wrapper section.bottom {
        flex-wrap: wrap;
    }
    footer section.wrapper section.bottom div.fast {
        width: 60%;
    }
    footer section.wrapper section.bottom div.about {
        width: 39%;
    }
    footer section.wrapper section.bottom div.support {
        width: 60%;
    }
    footer section.wrapper section.bottom div.contact {
        width: 39%;
    }
    footer section.wrapper p {
        margin-top: 33px;
    }
}
@media all and (max-width:768px) {
	header section ul {
        display: none;
    }
    header section nav.right {
        width: 30%;
    }
    #spotlight section.wrapper {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    #spotlight section.wrapper div.left {
        width: 100%;
        padding: 35px 40px 20px 45px;
    }
    #spotlight section.wrapper div.right {
        width: 100%;
    }
    .wrapper {
        width: 85%;
    }
    #works {
        padding: 50px 0;
    }
    #works section.wrapper section.container div.card div.top a.add {
        top: -168px;
        font-size: 18px;
    }
    #works {
        padding: 60px 0 0;
    }
    #feature section.wrapper section.top div.right p {
        width: 100%;
    }
    #feature section.wrapper section.top div.right div.bottom span.span1 {
        width: 75%;
    }
    #feature section.wrapper section.top div.right div.bottom small.small1 {
        width: 75%;
    }
    #feature section.wrapper section.bottom div.left {
        padding-left: 40px;
    }
    #subscribe section.wrapper form {
        width: 100%;
    }
}
@media all and (max-width:640px) {
    header section h1 {
        width: 40%;
    }
	header section nav.right {
        width: 30%;
        display: none;
    }
    header section small {
        display: block;
    }
    #works section.wrapper section.container div.card div.top a.add {
        top: -150px;
        font-size: 15px;
    }
    #works section.wrapper section.container div.card div.top {
        height: auto;
    }
    #feature section.wrapper section.top div.right div.bottom span.span1 {
        width: 90%;
    }
    #feature section.wrapper section.top div.right div.bottom small.small1 {
        width: 90%;
    }
    #feature section.wrapper section.top div.right div.bottom span.span1 span.span2 {
        height: 50px;
    }
    #feature section.wrapper section.top div.right div.bottom span.span1 span.span2 img {
        height: 50px;
    }
    #feature section.wrapper section.top div.right div.bottom small.small1 span.small2 {
        height: 50px;
    }
    #feature section.wrapper section.top div.right div.bottom small.small1 span.small2 img {
        height: 50px;
    }
    #feature section.wrapper section.bottom div.left h4 {
        font-size: 30px;
    }
    #subscribe section.wrapper h3 {
        font-size: 30px;
    }
    #subscribe section.wrapper form {
        width: 80%;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-left: 10px;
    }
    #subscribe section.wrapper form input {
        width: 100%;
        margin-bottom: 10px;
    }
    #subscribe section.wrapper form button {
        padding: 13px 22%;
        margin: 0 auto;
    }
    footer section.wrapper p {
        margin-top: 27px;
        width: 80%;
    }
}
@media all and (max-width:480px) {
	#spotlight section.wrapper div.left h2 {
        font-size: 25px;
    }
    #works section.wrapper section.container div.card div.top a.add {
        top: -115px;
        font-size: 12px;
    }
    #feature section.wrapper section.top div.right div.bottom span.span1 {
        width: 100%;
    }
    #feature section.wrapper section.top div.right div.bottom small.small1 {
        width: 100%;
    }
    #feature section.wrapper section.bottom div.left h4 {
        font-size: 27px;
    }
    #subscribe section.wrapper form {
        width: 100%;
    }
    #subscribe section.wrapper form button {
        width: inherit;
    }
    footer section.wrapper section.bottom {
        width: 70%;
        margin: 0 auto;
    }

    footer section.wrapper section.bottom div.fast {
        width: 100%;
    }
    footer section.wrapper section.bottom div.fast ul {
        width: 75%;
    }
    footer section.wrapper section.bottom div.about {
        width: 100%;
    }
    footer section.wrapper section.bottom div.support {
        width: 100%;
    }
    footer section.wrapper section.bottom div.contact {
        width: 100%;
    }
}
@media all and (max-width:360px) {
	header section h1 {
        width: 70%;
    }
    header section small {
        width: 17%;
    }
    #spotlight section.wrapper div.left span {
        padding: 15px 25px;
    }
    #works section.wrapper h3 {
        font-size: 35px;
    }
    #works section.wrapper section.container div.card div.top a.add {
        top: -86px;
    font-size: 10px;
    }
    #feature section.wrapper section.top div.right {
        width: 95%;
    }
    #feature section.wrapper section.bottom div.left {
        padding-left: 1px;
    }
    #subscribe {
        padding: 25px 0;
    }
    footer section.wrapper section.bottom div.fast h1 {
        width: 100%;
    }
}
/* Completed */