* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
body {
	font-family: 'Gordita Regular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'Gordita Regular',Arial, Helvetica, sans-serif;
}
a{
	color: #333;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'Gordita Regular';
}
.hidden{
	display:none;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}

@font-face {
    font-family: 'Gordita Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium'), url("../fonts/Gordita\ Medium.woff") format('woff');
    }

@font-face {
    font-family: 'Gordita Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Regular'), url("../fonts/Gordita\ Regular.woff") format('woff');
    }

/* start */
header {
	padding: 35px 0;
}
header section.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header section h1 {}
header section h1 a {}
header section h1 a img {}
header section ul {
	display: flex;
	justify-content: space-between;
	width: 40%;
}
header section ul li {}
header section ul li a {
	display: inline-block;
	color: #888398;
	font-family: 'Gordita Regular';
}
header section ul li:hover a {
	color: #000;
	font-family: 'Gordita Medium';
}
header section ul li hr.none {
	border-bottom: 3px solid #fff;
    width: 70%;
    margin: 0 auto;
}
header section ul li:hover hr.none {
	border-bottom: 3px solid #E45F83;
}
header section nav.right {
	display: flex;
    justify-content: space-between;
    width: 18%;
}
header section nav.right span {
	align-self: center;
}
header section nav.right span hr.none {
	border-bottom: 3px solid #fff;
    width: 70%;
    margin: 0 auto;
}
header section nav.right span:hover hr.none {
	border-bottom: 3px solid #E45F83;

}
header section nav.right span a {
	display: inline-block;
	color: #888398;
	font-family: 'Gordita Regular';
}
header section nav.right span:hover a.button1 {
	color: #000;
	font-family: 'Gordita Medium';
}
header section nav.right span a.button2 {
	background-image: linear-gradient(140deg, #E45F83 1%, #E45F83 50%, #9D5BFF 100%);
    color: #fff;
    padding: 20px 35px;
    border-radius: 20px;
	font-family: 'Gordita Medium';
}

/* #spotlight */
#spotlight {}
#spotlight section.wrapper {
	display: flex;
	justify-content: space-between;
}
#spotlight section.wrapper div.left {
	width: 50%;
	background-color: #F8F8FA;
	padding: 100px 0 0 10%;
}
#spotlight section.wrapper div.left p {
	color: #888398;
	font-family: 'Gordita Medium';
	font-size: 19px;
	margin: 10px 0 20px;
}
#spotlight section.wrapper div.left h2 {
	font-family: 'Gordita Medium';
	font-size: 55px;
	font-weight: bold;
	width: 85%;
}
#spotlight section.wrapper div.left span {
	background-image: linear-gradient(140deg, #E45F83 1%, #E45F83 50%, #9D5BFF 100%);
    color: #fff;
    padding: 20px 35px;
    border-radius: 20px;
	font-family: 'Gordita Medium';
	display: inline-block;
}
#spotlight section.wrapper div.right {
	width: 50%;
}
#spotlight section.wrapper div.right img {
	display: block;
	width: 100%;
}

/* Works section */
#works {
    padding: 150px 0;
    text-align: center;
}
#works section.wrapper {}
#works section.wrapper h3 {
    font-size: 40px;
    font-family: 'Gordita Medium';
}
#works section.wrapper p {
	color: #888398;
	margin: 25px 0;
}
#works section.wrapper section.container {
    display: flex;
    justify-content: space-between;
    position: relative;
}
#works section.wrapper section.container div.card {
    width: 30%;
}
#works section.wrapper section.container div.card div.top {
    height: 300px;
}
#works section.wrapper section.container div.card div.top img {
    z-index: 1;
    display: block;
    width: 100%;
}
#works section.wrapper section.container div.card div.top div.curve {
    position: absolute;
    top: 55px;
    left: 77px;
    width: 85%;
    z-index: -1;
}
#works section.wrapper section.container div.card div.top div.curve img {
    display: block;
    width: 100%;
}
#works section.wrapper section.container div.card div.top a.add {
	position: relative;
	display: inline-block;
	color: #000;
	top: -147px;
	left: -5px;
	font-size: 14px;
}
#works section.wrapper section.container div.card div.bottom {
    text-align: left;
    width: 65%;
    margin: 0 auto;
}
#works section.wrapper section.container div.card div.bottom h4 {
    font-size: 25px;
	font-family: 'Gordita Medium';
}
#works section.wrapper section.container div.card div.bottom p {
	font-family: 'Gordita Medium';
	color: #888398;
}

/* Feature section */
#feature {}
#feature section.wrapper {}
#feature section.wrapper section.top {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
#feature section.wrapper section.top div.left {
    width: 45%;
}
#feature section.wrapper section.top div.left img {
    display: block;
    width: 100%;
}
#feature section.wrapper section.top div.right {
    width: 45%;
    padding-top: 150px;
}
#feature section.wrapper section.top div.right h4 {
    font-size: 40px;
    font-family: 'Gordita Medium';
    color: #000;
}
#feature section.wrapper section.top div.right p {
    width: 65%;
    margin: 38px 0;
	font-family: 'Gordita Medium';
    color: #888398;
}
#feature section.wrapper section.top div.right div.bottom {}
#feature section.wrapper section.top div.right div.bottom span.span1 {
    display: block;
    border: 1px solid #dadadd;
    width: 50%;
    padding: 15px;
    border-radius: 25px;
    margin: 65px 0 20px;
}
#feature section.wrapper section.top div.right div.bottom span.span1 span.span2 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
#feature section.wrapper section.top div.right div.bottom span.span1 span.span2 img {
    display: block;
    width: 100%;
}
#feature section.wrapper section.top div.right div.bottom span.span1 a {
    font-family: 'Gordita Medium';
    font-size: 17px;
}
#feature section.wrapper section.top div.right div.bottom small.small1 {
    display: block;
    width: 50%;
    border: 1px solid #dadadd;
    padding: 15px;
    border-radius: 25px;
}
#feature section.wrapper section.top div.right div.bottom small.small1 span.small2 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
#feature section.wrapper section.top div.right div.bottom small.small1 span.small2 img{
    display: block;
    width: 100%;
}
#feature section.wrapper section.top div.right div.bottom small.small1 a {
    font-family: 'Gordita Medium';
    font-size: 17px;
}

#feature section.wrapper section.bottom {
	display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
#feature section.wrapper section.bottom div.left {
	width: 45%;
	padding-top: 150px;
	padding-left: 130px;
}
#feature section.wrapper section.bottom div.left h4 {
	font-size: 40px;
    font-family: 'Gordita Medium';
    color: #000;
}
#feature section.wrapper section.bottom div.left p {
    font-family: 'Gordita Medium';
    color: #888398;
    margin: 40px 0 75px;
}
#feature section.wrapper section.bottom div.left a {
    padding: 25px 50px;
    border-radius: 20px;
    border: 2px solid #E45F83;
    font-family: 'Gordita Medium';
    display: inline-block;
}
#feature section.wrapper section.bottom div.right {
	width: 45%;
}
#feature section.wrapper section.bottom div.right img {
	display: block;
	width: 100%;
}

/* Subscribe */
#subscribe {
    padding: 100px 0;
    text-align: center;
}
#subscribe section.wrapper {}
#subscribe section.wrapper h3 {
    font-family: 'Gordita Medium';
    font-size: 45px;
    color: #000;
    margin-bottom: 20px;
}
#subscribe section.wrapper p {
    font-family: 'Gordita Medium';
    color: #888398;
    margin-bottom: 45px;
}
#subscribe section.wrapper form {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #DADADD;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}
#subscribe section.wrapper form input {
    font-size: 20px;
	color: #888398;
}
#subscribe section.wrapper form button {
    font-size: 20px;
    color: #fff;
    padding: 20px 25px;
    background-image: linear-gradient(140deg, #E45F83 1%, #E45F83 50%, #9D5BFF 100%);
    border-radius: 10px;
}

/* Footer */
footer {
	padding: 10px 0 80px
}
footer section.wrapper {
    background-color: #F8F8FA;
    padding: 60px 0;
}
footer section.wrapper section.bottom {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}
footer section.wrapper section.bottom div.fast {
    width: 30%;
}
footer section.wrapper section.bottom div.fast h1 {
	width: 40%;
}
footer section.wrapper section.bottom div.fast h1 a {
    display: inline-block;
}
footer section.wrapper section.bottom div.fast h1 a img {
    display: block;
    width: 100%;
}
footer section.wrapper section.bottom div.fast p {
    margin: 30px 0;
    font-size: 16px;
    font-family: 'Gordita Medium';
    width: 85%;
    color: #888398;
    text-align: left;
}
footer section.wrapper section.bottom div.fast ul {
    display: flex;
    width: 45%;
    justify-content: space-between;
}
footer section.wrapper section.bottom div.fast ul li {
    padding: 10px;
    background-color: #ececec;
    border-radius: 10px;
}
footer section.wrapper section.bottom div.fast ul li img {
    display: block;
    width: 100%;
}
footer section.wrapper section.bottom div.about {
    width: 16%;
}
footer section.wrapper section.bottom div.about h2 {
    font-family: 'Gordita Medium';
    font-size: 19px;
    margin: 10px 0 40px;
}
footer section.wrapper section.bottom div.about ul {}
footer section.wrapper section.bottom div.about ul li {
    font-family: 'Gordita Medium';
    color: #888398;
    margin-bottom: 10px;
    font-size: 15px;
}
footer section.wrapper section.bottom div.support {
    width: 19%;
}
footer section.wrapper section.bottom div.support h2 {
	font-family: 'Gordita Medium';
    font-size: 19px;
    margin: 10px 0 40px;
}
footer section.wrapper section.bottom div.support ul {}
footer section.wrapper section.bottom div.support ul li {
	font-family: 'Gordita Medium';
    color: #888398;
    margin-bottom: 10px;
    font-size: 15px;
}
footer section.wrapper section.bottom div.contact {
    width: 10%;
}
footer section.wrapper section.bottom div.contact h2 {
	font-family: 'Gordita Medium';
    font-size: 19px;
    margin: 10px 0 40px;
}
footer section.wrapper section.bottom div.contact ul {}
footer section.wrapper section.bottom div.contact ul li {
	font-family: 'Gordita Medium';
    color: #888398;
    margin-bottom: 10px;
    font-size: 15px;
}
footer section.wrapper p {
    text-align: center;
    margin: 50px auto 0;
    width: 50%;
    font-size: 15px;
    font-family: 'Gordita Medium';
    color: gray;
}