* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
body {
	font-family: 'Gordita Regular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'Gordita Regular',Arial, Helvetica, sans-serif;
}
a{
	color: #333;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'Gordita Regular';
}
.hidden{
	display:none;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}

@font-face {
    font-family: 'Gordita Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium'), url("../fonts/Gordita\ Medium.woff") format('woff');
    }

@font-face {
    font-family: 'Gordita Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Regular'), url("../fonts/Gordita\ Regular.woff") format('woff');
    }

/* start */
header {
	padding: 35px 0;
}
header section.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header section h1 {}
header section h1 a {}
header section h1 a img {}
header section ul {
	display: flex;
	justify-content: space-between;
	width: 40%;
}
header section ul li {}
header section ul li a {
	display: inline-block;
	color: #888398;
	font-family: 'Gordita Regular';
}
header section ul li:hover a {
	color: #000;
	font-family: 'Gordita Medium';
}
header section ul li hr.none {
	border-bottom: 3px solid #fff;
    width: 70%;
    margin: 0 auto;
}
header section ul li:hover hr.none {
	border-bottom: 3px solid #E45F83;
}
header section nav.right {
	display: flex;
    justify-content: space-between;
    width: 18%;
}
header section nav.right span {
	align-self: center;
}
header section nav.right span hr.none {
	border-bottom: 3px solid #fff;
    width: 70%;
    margin: 0 auto;
}
header section nav.right span:hover hr.none {
	border-bottom: 3px solid #E45F83;

}
header section nav.right span a {
	display: inline-block;
	color: #888398;
	font-family: 'Gordita Regular';
}
header section nav.right span:hover a.button1 {
	color: #000;
	font-family: 'Gordita Medium';
}
header section nav.right span a.button2 {
	background-image: linear-gradient(140deg, #E45F83 1%, #E45F83 50%, #9D5BFF 100%);
    color: #fff;
    padding: 20px 35px;
    border-radius: 20px;
	font-family: 'Gordita Medium';
}

/* #spotlight */
#spotlight {}
#spotlight section.wrapper {
	display: flex;
	justify-content: space-between;
}
#spotlight section.wrapper div.left {
	width: 50%;
	background-color: #F8F8FA;
	padding: 100px 0 0 10%;
}
#spotlight section.wrapper div.left p {
	color: #888398;
	font-family: 'Gordita Medium';
	font-size: 19px;
	margin: 10px 0 20px;
}
#spotlight section.wrapper div.left h2 {
	font-family: 'Gordita Medium';
	font-size: 55px;
	font-weight: bold;
	width: 85%;
}
#spotlight section.wrapper div.left span {
	background-image: linear-gradient(140deg, #E45F83 1%, #E45F83 50%, #9D5BFF 100%);
    color: #fff;
    padding: 20px 35px;
    border-radius: 20px;
	font-family: 'Gordita Medium';
	display: inline-block;
}
#spotlight section.wrapper div.right {
	width: 50%;
}
#spotlight section.wrapper div.right img {
	display: block;
	width: 100%;
}

/* Works section */
#works {}
#works section.wrapper {}
#works section.wrapper h3 {}
#works section.wrapper p {}
#works section.wrapper ul {}
#works section.wrapper ul li {}
#works section.wrapper ul li div {}
#works section.wrapper ul li div img {} 
#works section.wrapper ul li h4 {} 
#works section.wrapper ul li p {}